{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row mart10">
            <div class="col-12 shadow-lg padt01 bg-white1">

                <a href="/apps">
                    <button class="btn btn-warning">Список заявок</button>
                </a>

                <br /><br />

                <h4>Данные заявки</h4>

                <table class="table table-striped">
                    <tr>
                        <th>Параметр</th>
                        <th>Значение</th>
                    </tr>
                    <tr>
                        <td>ID</td>
                        <td>{{ app.id }}</td>
                    </tr>
                    <tr>
                        <td>Создан</td>
                        <td>{{ app.createdAtString }}</td>
                    </tr>
                    <tr>
                        <td>Изменён</td>
                        <td>{{ app.updatedAtString }}</td>
                    </tr>
                    <tr>
                        <td>Пользователь</td>
                        <td>{{ app.user.name }}</td>
                    </tr>
                    <tr>
                        <td>Емайл</td>
                        <td><a href="mailto:{{ app.user.email }}">{{ app.user.email }}</a></td>
                    </tr>
                    <tr>
                        <td>Комментарии</td>
                        <td>
                            {% for com in app.comments %}
                                {{ com.id }} {{ com.tsString }} {{ com.comment }}  <br/>
                            {% endfor %}
                        </td>
                    </tr>
                </table>

                <br />

                <h4>Данные заёмщика</h4>
                <table class="table table-striped">
                    <tr>
                        <th>Параметр</th>
                        <th>Значение</th>
                    </tr>
                    {% for fv in fieldValues %}
                    <tr>
                        <td>{{ fv.field.Description }}</td>
                        <td>{{ fv.valueText }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
