{% extends 'base.html.twig' %}
{% block body %}
    <div class="row mart10 oldfilter">
        <div class="col-3">
            <div class="card text-center bg-white1">
                <div class="card-header">
                    Create from
                </div>
                <div class="card-body">
                    <div class="col-10" id="datepick_create_from">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-center bg-white1">
                <div class="card-header">
                    Create to
                </div>
                <div class="card-body">
                    <div class="col-10" id="datepick_create_to">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card text-center bg-white1">
                <div class="card-header">
                    Update from
                </div>
                <div class="card-body">
                    <div class="col-10" id="datepick_update_from">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-center bg-white1">
                <div class="card-header">
                    Update to
                </div>
                <div class="card-body">
                    <div class="col-10" id="datepick_update_to">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row mart10">
            <div class="col-12 bg-white1">
                <p class="card-text">

                <div class="form-row col-12 align-items-center">
                    <form class="form-inline">
                        <div class="row">
                            <div class="col-2">
                                <input type="text" class="form-control-sm" name="create_from" id="create_from"
                                       placeholder="create_from" value="{{ request.create_from }}" autocomplete="off">
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control-sm" name="create_to" id="create_to"
                                       placeholder="create_to" value="{{ request.create_to }}" autocomplete="off">
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control-sm" name="update_from" id="update_from"
                                       placeholder="update_from" value="{{ request.update_from }}" autocomplete="off">
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control-sm" name="update_to" id="update_to"
                                       placeholder="update_to" value="{{ request.update_to }}" autocomplete="off">
                            </div>
                            <div class="col-2">
                                <select class="custom-select-sm" name="sort">
                                    <option value="id1">ID (По возрастанию)</option>
                                    <option selected value="id2">ID (По убыванию)</option>
                                    <option value="createdAt1">created (По возрастанию)</option>
                                    <option value="createdAt2">created (По убыванию)</option>
                                    <option value="updated1">updated (По возрастанию)</option>
                                    <option value="updated2">updated (По убыванию)</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <div class="row">
                                    <div class="col-6">
                                        <select class="custom-select-sm" name="limit">
                                            <option selected value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="150">150</option>
                                            <option value="200">200</option>
                                            <option value="250">250</option>
                                            <option value="300">300</option>
                                            <option value="350">350</option>
                                            <option value="400">400</option>
                                            <option value="450">450</option>
                                            <option value="500">500</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-sm btn-primary">Ok</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row mart10">
            <div class="loginform col-12 shadow-lg padt01 bg-white1">
                <table class="table table-striped">
                    <tr>
                        <th> id</th>
                        <th>Пользователь</th>
                        <th>Создано</th>
                        <th>Изменено</th>
                        <th>Комментарии</th>
                        <th>Добавить</th>
                    </tr>
                    {% for app in apps %}
                        <tr>
                            <td><a href="/app?app_id={{ app.id }}">{{ app.id }}</a></td>
                            <td>{{ app.userName }}</td>
                            <td>{{ app.createdAtString }}</td>
                            <td>{{ app.updatedAtString }}</td>
                            <td>
                                {#{{ app.comments.0.id }}#}
                                <table class="table table-borderless table-sm table-small">
                                    {% for com in app.comments %}
                                        <tr>
                                            <td>{{ com.tsString }}</td>
                                            <td>
                                                {% autoescape false %}
                                                {{ com.user.name|raw|replace({' ' : '&nbsp;'}) }}
                                                {% endautoescape %}
                                            </td>
                                            <td>{{ com.ctype.value }}</td>
                                            <td>{{ com.reminderString }}</td>
                                            <td>{{ com.comment }}</td>

                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                            <td>
                                {{ include('sub_modal_btn.html.twig', { 'article': article }) }}

                                {{ include('sub_modal.html.twig', { 'article': article }) }}
                                {#<form method="post" class="form-inline">#}
                                {#<div class="form-row col-4 align-items-center">#}
                                {#<input type="hidden" name="app_id" value="{{ app.id }}">#}
                                {#<input type="text" class="form-control-sm col-6" id="comfield" placeholder="коммент">#}
                                {#<button type="submit" class="btn btn-sm btn-primary">Ok</button>#}
                                {#</div>#}
                                {#</form>#}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    {#<div class="row">#}
    {#<div class="loginform col-2 offset-5">#}
    {#{{ number }} ++ {{ post }} ++ {{ login }}<br/>#}
    {#<table class="table table-striped">#}
    {#<tr>#}
    {#<td> App.id</td>#}
    {#<td> Com.id</td>#}
    {#</tr>#}
    {#{% for com in comments %}#}
    {#<tr><td>{{ com.app.id|e }}</td><td>{{ com.id|e }}</td></tr>#}
    {#{% endfor %}#}
    {#</table>#}
    {#</div>#}
    {#</div>#}
{% endblock %}
